<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ThymeLeaf</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <h1>Link URL</h1>
     <a href="#" th:href="@{/home}" >Home</a>
   <br>
   <a href="#" th:href="@{/emp/101}">Get Employee</a>
   <br>
   <a href="#" th:href="@{/emp/{empId}(empId=${EID})}">Get Employee Dynamic</a>
   <br>
   <a href="#" th:href="@{/emp(empId=${EID})}">Get Employee Param</a>
 
</body>
</html>